.obj
.shobj
.depend.*
GNUmakefile*
*.dll
*.lib
lib*.a
lib*.so*
lib*.dylib
build

/idl/mil-std-3071_data_modelC.*
/idl/mil-std-3071_data_modelTypeSupport.idl
/idl/mil-std-3071_data_modelTypeSupportC.*
/idl/mil-std-3071_data_modelTypeSupportS.*
/idl/mil-std-3071_data_modelTypeSupportImpl.*

/controller/controller
/controller/cli
/controller/CLICommandsC.*
/controller/CLICommandsTypeSupport.idl
/controller/CLICommandsTypeSupportC.*
/controller/CLICommandsTypeSupportS.*
/controller/CLICommandsTypeSupportImpl.*
