.shobj
.depend.*
GNUmakefile*
*.dll
*.lib
lib*.a
lib*.so*
lib*.dylib

mil-std-3071_data_modelC.*
mil-std-3071_data_modelTypeSupport.idl
mil-std-3071_data_modelTypeSupportC.*
mil-std-3071_data_modelTypeSupportS.*
mil-std-3071_data_modelTypeSupportImpl.*
